* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}

h2 {
    text-align: center;
    font-size: 3em;
    color: hotpink;
    margin: 15px 0;
}

.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    width: 150px;
    height: inehrit;
    color: white;
    font-size: 1.2em;
    border: transparent;
    border-radius: 30px;
}

.yes-btn {
    background-color: hotpink;
    margin-right: 20px; /* Space between buttons */
    z-index: 10; /* Keeps Yes button on top when it grows */
}

.no-btn {
    background-color: blue;
    margin-left: 20px; /* Space between buttons */
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.falling-pig {
    position: fixed;
    top: -100px;
    width: 50px;
    height: auto;
    pointer-events: none;
    z-index: 1;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}