* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 3em;
    color: hotpink;
    margin: 15px 0;
}

.btn-group {
    position: relative; /* Acts as a container for the buttons */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease; /* Smooth scaling */
}

.yes-btn {
    background-color: hotpink;
    margin-right: 20px; /* Space between buttons */
    z-index: 10; /* Keeps Yes button on top when it grows */
}

.no-btn {
    background-color: blue;
    position: fixed; 
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}